


<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>


<!-- <div class = "scrollblock" id="test">
<div id = "center">
<h1 >ATX Tech</h1>
<h2> A listing of technology companies located in Austin, TX. </h2>
<h4 class = "pink"> Total Companies Listed: <%= Company.all.length %> </h3>
</div>
</div>
 -->