body {
  background-color: black; /*#0B2E59;*/
  background-image: url('austin-texas-skyline-2873454-o.jpg');
  background-size: 100% 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: gray;
  font-family: Lato, verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

p, ol, ul, td {
 font-family: Lato;
font-style: normal;
font-variant: normal;
/*  font-weight: 100;*/
  text-align: center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

h1{
font-family: Lato;
font-size: 92px;
font-style: normal;
font-variant: normal;
font-weight: 100;
line-height: 72px;
text-transform: uppercase;
text-align: center;
color: lightblue;
}

h2,h3{
  font-family: Lato;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-align: center;
  color: #E8A90B;
  font-size: 30px;
}

h3{
  font-size: 25px;
  color: white;

}

th {
  color: lightblue;
  text-align: center;
}

tr{
  text-align: center;
}

a, a:visited {
  color: lightblue;
  text-decoration: none;
}


li {
  text-align: left;
  color: lightblue;
}

select {
  background-color: white;
  color: blue;
}

.list {
  text-align: left;
}

hr{
  background-color: gray;
}

input {
background-color: lightblue;
color: black;
margin: auto 0;
border-spacing: 10px;
margin-bottom: 10px;
margin-left: 10px;
}



.formclass {
margin-right: auto;
margin-left: auto;
text-align: center;
}

.strike {
  text-decoration: line-through;
}

#test
{
/*border-style: solid;*/
position: fixed;
width: 100%;
}
#center
{
  margin-left: auto;
  margin-right: auto;
/*  border-color: pink;
  border-style: solid;*/

}
