@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Arimo);
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
@import url(http://fonts.googleapis.com/css?family=Merriweather:100,400);
body {
  background-color: black; /*#0B2E59;*/
/*  background-image: url('austin-texas-skyline-2873454-o.jpg');
  background-size: 100% 350px;
  background-repeat: no-repeat;*/
/*  background-attachment: fixed;*/
  color: gray;
  font-family: Lato, verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

p, ol, ul, td {
 font-family: Lato;
font-style: normal;
font-variant: normal;
/*  font-weight: 100;*/
  text-align: center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

h1{
font-family: Lato;
font-size: 92px;
font-style: normal;
font-variant: normal;
font-weight: 100;
line-height: 72px;
text-transform: uppercase;
text-align: center;
color: lightblue;
margin-top: 10px;
padding-bottom: 0px;
margin-bottom: -15px;
}

h2,h3,h4{
  font-family: Lato;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-align: center;
  color: #E8A90B;
  font-size: 30px;
  line-height: 10px;

}

h3{
  font-size: 20px;
  color: white;
  padding-bottom: 10px;

}

h4 {
  font-size: 40px;
  color: pink;
  padding-bottom: 0px;
  margin-bottom: -15px;
}

th {
  color: lightblue;
  text-align: center;
}

tr{
  text-align: center;
}

a, a:visited {
  color: lightblue;
  text-decoration: none;
}


li {
  text-align: left;
  color: lightblue;
}

select {
  background-color: white;
  color: blue;
}

.list {
  text-align: left;
}

input {
background-color: lightblue;
color: black;
margin: auto 0;
border-spacing: 10px;
margin-bottom: 10px;
margin-left: 10px;
}



.formclass {
margin-right: auto;
margin-left: auto;
text-align: center;
}

.strike {
  text-decoration: line-through;
}

#test
{
/*border-style: solid;*/
/*position: fixed;*/
width: 100%;
}
#center
{
  margin-left: auto;
  margin-right: auto;
/*  border-color: pink;
  border-style: solid;*/

}

/*.center {
  margin-left: auto;
  margin-right: auto;
  border-color: white;
  border-style: solid;
  width: 50%;

}*/

.fixed{
  width: 100%;
/*  position: fixed;*/
/*  border-style: solid;
  border-color: gray;
  border-size: 1px;*/
  padding-bottom: 20px;
}

th.inner{
width: 475px;
position: relative;
padding-bottom: 5px;
border-style: solid none;
border-width: 1px;


}
th.inner2{
width: 475px;
position: relative;
padding-bottom: 5px;

}


td {
  width: 375px;
  line-height: 25px;
}

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.pink {
  color: pink;
}

.scrollblock {
  width: 100%;
  height: 530px;
  /* background-image: url('austin-texas-skyline-2873454-o.jpg');
  background-size: 100% 760px;
  background-repeat: no-repeat;*/
  background-attachment: fixed;
  border-style: solid;
  border-color: white;
  overflow: visible;
}

.withOverflowingBackground {
   position: relative; 
   background-color: transparent;
}
.withOverflowingBackground::before {
   content: " ";
   position: absolute;
   width: 100%;
   height: 560px;
   z-index: -1;
   background-image: url('austin-texas-skyline-2873454-o.jpg');
   background-size: 100% 570px;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

